* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.page-body {
    position: relative;
    width: 100%;
    height: auto;
    background-image: url(img/bgcat.jpg);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
}

.title {
    text-align: center;
    font-family: 'Pacifico', cursive;
    color: #ffffff;
    padding-top: 50px;
    font-size: 60px;
}

.playground {
    margin: 15vh auto;
    width: 600px;
    padding: 30px;
    background-color: rgba(255, 255, 255, .3);
    text-align: center;
}

.piano-area {
    display: flex;
    align-content: flex-end;
}

.sound {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: calc(100%/8);
    height: 250px;
    background-color: rgba(255, 255, 255, .8);
    margin: 0 2px;
    box-shadow: inset -2px -2px 2px rgba(49, 49, 49, 0.8);
    padding-bottom: 10px;
    transition: all .3s;
    cursor: pointer;
}

.sound > span, .hint > span {
    font-family: 'Josefin Slab', serif;
    font-size: 25px;
    font-weight: 900;
}

.pressed {
    box-shadow: inset 0 0 2px rgba(226, 29, 226, 0.3);
}

.hint {
    position: absolute;
    text-align: center;
    padding: 4px;
    top: 10px;
    left: 5px;
    background-color: rgba(255, 255, 255, .3);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    color: #ffffff;
    cursor: pointer;
}

/* oldshool keyboard styling */

.keyboard {
    display: none;
    flex-direction: column;
    background-color: #c8cece;
    border: 1px solid black;
    width: 500px;
    padding: 5px;
    position: absolute;
    top: 25px;
    left: 25vw;
}

.visible {
    display: flex;
}

.row {
    display: flex;
    justify-content: space-between;
}

.key {
    background-color: #c2c2c2;
    color: #1c1c1c;
    font-family: 'Roboto Mono', monospace;
    border: 1px solid #1c1c1c;
    box-shadow: 1px 1px 0px;
    /*width: -webkit-fill-available;*/
    margin: 3px;
    text-align: center;
    padding: 2px 0;
    flex-grow: 1;
}

.key-active {
    background-color: #40c4c4;
    box-shadow: -3px -3px 5px rgba(64, 196, 196, 0.514);
} 

.space {
    flex-grow: 25;
}

@media (max-width: 700px) {
    .page-body {
        height: 100vh;
        background-position: center;
    }
    .title {
        font-size: 40px;
    }

    .playground {
        width: 100%;
        margin: 20px 2px;
        padding: 10px;
    }

    .hint {
        left: calc(50vw - 30px);
    }

    .keyboard {
        width: 100%;
        top: auto;
        left: 0;
    }
}